#notif-icon-perfil {
    margin: 0 !important;
}

#notif-icon-perfil:hover {
    transition: .2s ease-out;
    animation: bell-keyframes 1s;
    scale: 1.07;
    filter: opacity(100%) invert(100%);
}

#notif-icon-perfil:hover+#notif-contador {
    transition: .2s ease-out;
    animation: bell-keyframes 1s;
    scale: 1.07;
}

@keyframes bell-keyframes {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#notif-container {
    position: absolute;
    display: inline-block;
    top: 25px;
    right: 20px;
    z-index: 1000;
}

#sino {
    cursor: pointer;
    font-size: 24px;
    position: relative;
}

#notif-contador {
    background-color: blue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
}

#painel-notif {
    position: absolute;
    right: 0;
    top: 50px;
    width: 25vw;
    max-height: 90vh;
    overflow: auto;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 15px 10px 10px;
    box-shadow: 0px 0px 20px 10px #03001b2a;
    z-index: 999;
}

#painel-notif ul {
    list-style: none;
    margin: 0;
}

.notificacao {
    position: relative;
    min-height: 90px;
    padding: 8px;
    border-radius: 5px;
    background-color: #e8e8e8;
    margin-bottom: 7px;
    box-shadow: 2px 2px 8px 2px #0900221c;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    font-size: 1rem;
    text-align: justify;
    word-wrap: anywhere;
}

.notificacao:nth-child(even) {
    background-color: #e4e4e4;
}

.notificacao-data {
    font-size: .7rem;
    position: absolute;
    bottom: 0;
    right: 10px;
}

#fechar-notif {
    cursor: pointer;
    display: block;
    color: #111;
    margin: 0 0 10px 95%;
}