<!DOCTYPE html>
<html lang="Pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Crédito CPS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login-style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="container">
        <div class="form-box login">
            <form action="{{ url_for('auth.entrar') }}" method="POST">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" placeholder="Código ETEC" required id="codeEtecLogin" name="codigo_etec_entrar">
                    <input type="text" placeholder="RM" required id="input-user-login" name="rm_entrar">
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Senha" required id="input-password" name="senha_entrar">
                </div>
                <div class="forgot-link">
                    <a href="https://nsa.cps.sp.gov.br/frmesenha.aspx" id="link">Esqueceu a senha?</a>
                </div>
                <button type="submit" class="btn n">Login</button>
            </form>
        </div>

        <div class="form-box register">
            <form action="{{ url_for('auth.registrar') }}" method="POST">
                <h1>Cadastre-se</h1>
                <div id="etecrm">
                    <input type="text" name="codigo_etec" placeholder="Código ETEC" id="codeEtec" required>
                    <input type="text" name="rm" placeholder="RM" id="input-user" required>
                </div>
                <div class="input-box">
                    <input type="password" name="senha" id="pwI" placeholder="Senha" required>
                    <input type="password" name="confirmar" id="pwII" placeholder="Confirmar senha" required>
                </div>
                <div id="termos">
                    <input type="checkbox" id="termoscbx" required>
                    <span id="txtt">Eu concordo com os
                        <a class="cbx-a" href="{{ url_for('info.termos') }}">termos de uso</a> e
                        <a class="cbx-a" href="{{ url_for('info.politica') }}">políticas de privacidade</a>.
                    </span>
                </div>
                <button type="submit" class="btn">Cadastro</button>
            </form>
        </div>
        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>Olá, novamente!</h1>
                <p id="subt">Não se cadastrou?</p>
                <button class="btn register-btn" onclick="toggle()">Cadastre-se</button>
            </div>

            <div class="toggle-box">
                <div class="toggle-panel toggle-right">
                    <h1>Bem vindo!</h1>
                    <p id="subt">Já está cadastrado?</p>
                    <button class="btn login-btn" onclick="untoggle()" id="trade">Faça login!</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const hash = window.location.hash;
            if (hash === "#registrar") {
                document.querySelector(".register-btn").click();
            }
        });
    </script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            {% for category, message in messages %}
            Swal.fire({
                icon: "{{ 'success' if category == 'success' else 'error' if category == 'danger' else 'warning' if category == 'warning' else 'info' }}",
                text: "{{ message|safe }}",
                showConfirmButton: false,
                timer: 3000
            });
            {% endfor %}
        });
    </script>
    {% endif %}
    {% endwith %}
    <script src="{{ url_for('static', filename='js/auth/login-script.js') }}"></script>
</body>

</html>