{% extends 'shared/base.html' %}

{% block title %}Home{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/home-style.css') }}">
{% endblock %}

{% block content %}
<!-- Imagem principal -->
<section class="first">
    <img src="{{ url_for('static', filename='images/home/FOODPAYOF.jpg') }}" id="fpn">
</section>


<!-- Primeira seção: celular, 3 benefícios -->
<section class="features1">
    <!-- Celular -->
    <div class="allcardcel">
        <div class="cardcel">
            <!-- Câmera do celular -->
            <div class="top">
                <div class="camera">
                    <div class="int">
                    </div>
                    <div class="speaker"></div>
                </div>
            </div>

            <!-- Celular -->
            <div class="card-int">
                <img src="{{ url_for('static', filename='images/home/logo.png') }}" alt="Logo FoodPay" class="simcel">
                <div class="hello">foodpay <span class="hidden">Compre rápido, pague fácil</span></div>
            </div>
        </div>
    </div>

    <!-- Benefícios -->
    <div class="allcards-fat">
        <div class="cards-list">
            <div class="cardtitle">
                <img src="{{ url_for('static', filename='images/home/cadastro.png') }}" class="cadasicon">
                <span class="title">Cadastro simples</span>
            </div>
            <p class="description">
                É aluno de ETEC ou FATEC? Entrou, preencheu, tá dentro — rápido, fácil e sem complicação.
            </p>
        </div>

        <div class="cards-list">
            <div class="cardtitle">
                <img src="{{ url_for('static', filename='images/home/seguranca.png') }}" class="cadasicon">
                <span class="title">Segurança</span>
            </div>
            <p class="description">
                Seus dados estão sempre protegidos, com cuidado e tecnologia que mantém tudo seguro.
            </p>
        </div>

        <div class="cards-list">
            <div class="cardtitle">
                <img src="{{ url_for('static', filename='images/home/cps.png') }}" class="cadasicon">
                <span class="title">Exclusividade</span>
            </div>
            <p class="description">
                O sistema para facilitar sua vida, exclusivo para alunos de ETECs e FATECs: feito para você.
            </p>
        </div>
    </div>
</section>


<!-- Segunda seção: 3 cards -->
<section class="features">
    <div class="feature-card">
        <div class="feature-content">
            <h4>Controle Total</h4>
            <img src="{{ url_for('static', filename='images/home/Buffer-rafiki.png') }}" class="imgcardsesp">
            <p>
                Com o FoodPay, você tem o controle total das suas compras na cantina, acompanhando gastos em tempo real
                e sem preocupações.
            </p>
        </div>
    </div>

    <div class="feature-card">
        <div class="feature-content">
            <h4>Pensado para Administradores</h4>
            <img src="{{ url_for('static', filename='images/home/Admin-cuate.png') }}" class="imgcardsesp">
            <p>
                Para gestores, a plataforma oferece relatórios inteligentes e uma gestão mais organizada das vendas e
                produtos da cantina escolar.
            </p>
        </div>
    </div>

    <div class="feature-card">
        <div class="feature-content">
            <h4>Economia de Tempo</h4>
            <img src="{{ url_for('static', filename='images/home/time flies-pana.png') }}" class="imgcardsesp">
            <p>
                E o melhor: tudo isso gera uma grande economia de tempo para alunos, pais e equipe da cantina, tornando
                tudo mais eficiente.
            </p>
        </div>
    </div>
</section>


<!-- Seção final: celular, botão sobre -->
<section class="imagemfim">
    <div>
        <h1>E aí, curtiram o FoodPay?</h1>
        <h3>Clique no botão e conheça mais sobre a gente!</h3>
        <button id="btn-sobre">
            <!-- SVG do botão -->
            <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                        </path>
                    </svg>
                </div>
            </div>
            <span>Sobre</span>
        </button>
    </div>
    <img src="{{ url_for('static', filename='images/home/instagram.jpg') }}" id="imgfim" alt="Imagem final">
</section>

{% include 'shared/footer.html' %}
{% endblock %}

{% block extra_js %}
<script>
    document.getElementById('btn-sobre').addEventListener('click', () => {
        window.location.href = '/info/sobre'
    })
</script>
{% endblock %}