<!-- Rodapé -->
<footer id="rodape">
    <div class="rodape-conteudo">
        <img src="{{ url_for('static', filename='images/home/Logo.png') }}" alt="Logo FoodPay" class="rodape-logo">
        <p>&copy; 2025 FoodPay. Todos os direitos reservados.</p>
        <div class="links-rodape">
            <a href="{{ url_for('info.politica') }}">Política de Privacidade</a>
            <a href="#">Termos de Uso</a>
            <a href="{{ url_for('feedback.feedback') }}">Contato</a>
        </div>
    </div>
</footer>