{% extends 'shared/base.html' %}

{% block title %}Base de Dados{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/database/database-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/shared/header_relative.css') }}">
{% endblock %}

{% block content %}
<main>
    <form action="" method="POST" id="consulta-form">
        <div id="tabela-wrapper">
            <label for="select-tabela">Tabela:</label>
            <select name="tabela" id="select-tabela">
                {% for modelo in modelos %}
                <option value="{{ modelo }}">{{ modelo }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="coluna-wrapper">
            <label for="coluna-select">Coluna:</label>
            <select name="coluna" id="coluna-select">
            </select>
        </div>

        <div id="operador-wrapper">
            <label for="operador-select">Operador</label>
            <select name="operador" id="operador-select">
                <option value="=">Igual =</option>
                <option value="!=">Diferente !=</option>
                <option value=">">Maior ></option>
                <option value="<">Menor < </option>
                <option value="LIKE">Contém</option>
            </select>
        </div>

        <div id="valor-wrapper">
            <label for="valor-consulta">Valor</label>
            <input type="text" name="valor-consulta" id="valor-consulta">
        </div>

        <div id="button-wrapper">
            <button type="submit" id="filtrar">Filtrar</button>
            <button type="button" id="limpar">Limpar</button>
        </div>
    </form>

    <div id="visualizacao-tabela">
        <table>
            <thead id="table-head">
                <tr>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</main>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/admin/database/database-script.js') }}"></script>
{% endblock %}