{% extends 'shared/base.html' %}

{% block title %}Controle de Notificações{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shared/header_relative.css') }}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='css/admin/notifications/controle_notificacao-style.css') }}">
{% endblock %}

{% block content %}
<main>

    <div id="content">
        <div id="form-container">
            <h1>Controle de Notificações</h1>
            <form action="{{ url_for('notificacao.enviar')}}" method="POST" id="form-notificacao"
                onsubmit="return confirm('Confirmar o envio da notificação a todos os usuários?')">
                <textarea name="mensagem-notificacao" id="mensagem-notificacao" maxlength="200"></textarea>
                <div id="btn-container">
                    <button type="submit" id="enviar">Enviar</button>
                    <button type="reset" id="cancelar">Cancelar</button>
                </div>
            </form>
        </div>

        <div id="visualizacao-tabela">
            <table>
                <thead>
                    <tr>
                        {% for coluna in colunas %}
                        <th>{{ coluna }}</th>
                        {% endfor %}
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        {% for coluna in colunas %}
                        <td>{{ registro | getattr(coluna) }}</td>
                        {% endfor %}
                        <td>
                            <form action="{{ url_for('notificacao.excluir', id=registro.id) }}" method="POST"
                                class="form-excluir">
                                <button type="submit"
                                    onclick="return confirm(`Confirmar exclusão do registro?`)">Excluir</button>
                            </form>
                            <a href="#">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block extra_js %}
{% endblock %}