body.modo-escuro {
    background: #17041f;
    background: linear-gradient(135deg, #17041f 0%, #08031f 100%);
    color: #d0d0d0;
}

body.modo-escuro form select,
body.modo-escuro form input,
body.modo-escuro form textarea {
    background-color: #e1dbebd8 !important;
}