* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    height: 100%;
}

body {
    background-color: #eee;
    overflow-y: scroll;
}

main {
    width: 50%;
    margin: auto;
    padding: 15px;
}

h1 {
    font-size: 2.2rem;
    margin: 0 0 20px 0;
}

#identificacao {
    margin: 0 0 20px 0;
}

label {
    font-size: 1.2rem;
}

input {
    background-color: #fcfcfc;
    display: block;
    height: 40px;
    width: 100%;
    font-size: 1.3rem;
    padding-left: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 0 0 5px;
    box-shadow: 4px 4px 20px -5px rgba(0, 0, 0, 0.15);
    letter-spacing: normal;
}

input:hover {
    border-bottom: 2px solid #c5453c;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fcfcfc inset !important;
}

#assunto_tipo_wrapper {
    display: flex;
    justify-content: space-between;
}

#assunto_feedback {
    width: 80%;
}

#tipo_feedback {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.3rem;
    width: 18%;
    border-radius: 10px;
    box-shadow: 4px 4px 20px -5px rgba(0, 0, 0, 0.15);
}

#tipo_feedback:hover {
    border-bottom: 2px solid #c5453c;
}

#textarea_wrapper {
    position: relative;
    width: 100%;
}

textarea {
    background-color: #fcfcfc;
    display: block;
    height: 400px;
    width: 100%;
    resize: none;
    overflow: auto;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 0 0 20px 0;
    box-shadow: 4px 4px 20px -5px rgba(0, 0, 0, 0.15);
}

textarea:hover {
    transition: .2s ease-out;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

textarea:focus {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#contador {
    position: absolute;
    font-weight: bold;
    color: #111;
    right: 10px;
    bottom: 5px;
}

#botoes {
    width: 50%;
    margin: 0 auto;
}

#botoes>button {
    cursor: pointer;
    width: 49%;
    height: 40px;
    font-size: 1.3rem;
    outline: none;
    border-radius: 10px;
    letter-spacing: normal;
    box-shadow: 4px 4px 20px -5px rgba(0, 0, 0, 0.15);
}

#botoes>button:hover {
    transition: .2s ease-out;
    font-weight: bolder;
    letter-spacing: 2px;
}

#enviar {
    background-color: #3ab340;
    color: #eee;
    border: none;
}

#cancelar {
    border: 2px solid #c5453c;
    color: #c5453c;
    background-color: transparent;
}

#cancelar:hover {
    background-color: #c5453c;
    color: white;
}