@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f6;
    /*Corpo do site*/
}

.container {
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    margin: 20px;
    overflow: hidden;
    /*Div principal do site*/
}

.container h1 {
    font-size: 36px;
    margin: 20px 0;
    overflow: hidden;
    color: #000;
}

#image {
    width: 300px;
    height: 270px;
    position: relative;
    top: -400px;
    left: 800px;
}

.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .form-box {
    right: 50%;
}

.form-box.register {
    visibility: hidden;
}

.container.active .form-box.register {
    visibility: visible;
}

form {
    width: 100%;
}

#etecrm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #e2e2e2;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#codeEtec {
    font-size: 12px;
}

#pwI {
    margin-bottom: 20px;
}

#input-password {
    margin-bottom: 20px;
}

#codeEtecLogin {
    margin-bottom: 20px;
}

#termos {
    display: grid;
    grid-template-columns: 1fr 15fr;
    margin-bottom: 20px;
}

#termoscbx {
    width: 15px;
    height: 15px;
}

.cbx-a,
.cbx-a:visited {
    color: #0000EE;
    text-decoration: none;
}

#txtt {
    font-size: 10px;
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

#link:hover {
    transition: 1s;
    font-weight: 600;
}

.forgot-link {
    margin: 30px 0 15px;
}

.forgot-link a {
    font-size: 14.5px;
    color: #333;
    text-decoration: none;
}

.forgot-link a:hover {
    font-size: 14.5px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-stretch: normal;
    transition: 4s;
}

.btn {
    width: 100%;
    height: 48px;
    background: #f83435;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.btn.n {
    width: 100%;
    height: 48px;
    background: #2e9a60;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.btn:hover {
    background: #dd0101e1;
    transition: .2s ease-out;
}

.btn:focus {
    background: #dd0101e1;
    transition: .1s ease-in-out;
}

.btn.n:hover {
    background: #0b8142;
    transition: .2s ease-out;
}

.btn::before {
    content: '';
    background: rgba(182, 203, 228, 0.5);
    transform: translateX(-178px) skewX(30deg);
    transition: .75s;
    z-index: 10;
}

.btn:hover::before {
    transform: translateX(178px) skewX(30deg);
}

.toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle-box .btn:hover {
    color: #f83435;
    background: #fff;
    transition: .7s;
}

.toggle-box p {
    margin-top: 25px;
    color: #000;
}

.toggle-box::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: radial-gradient(circle, #fff 25%, #2e9a60 90%);
    border-radius: 150px;
    z-index: 1;
    transition: 1.4s ease-in-out;
}

.container.active .toggle-box::before {
    left: 50%;
    background: radial-gradient(circle, #fff 25%, #f83435 75%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    color: #f83435;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
}

.toggle-panel.toggle-left {
    left: 0;
    transition-delay: .2s;
}

.container.active .toggle-panel.toggle-left {
    left: -50%;
    transition-delay: .6s;
}

.toggle-panel.toggle-right {
    right: -50%;
    transition-delay: .6s;
}

.container.active .toggle-panel.toggle-right {
    right: 0;
    transition-delay: 1.2s;
}

.toggle-panel p {
    margin-bottom: 10px;
    font-weight: 550;
}

.toggle-panel .btn {
    width: 160px;
    height: 46px;
    background-color: transparent;
    border: 2px solid #fff;
    box-shadow: none;
}

.btn.register-btn:hover {
    color: #2e9a60;
}

@media screen and (max-width: 870px) {
    .container {
        height: calc(100vh - 20px) !important;

    }

    .form-box {
        bottom: 0;
        width: 100%;
        height: 70%;
    }

    .container.active .form-box {
        right: 0;
        bottom: 30%;
    }

    .toggle-box::before {
        left: 0;
        top: -270%;
        width: 100%;
        height: 300%;
        border-radius: 20vw;
    }

    .container.active .toggle-box::before {
        left: 0;
        top: 70%;
    }

    .toggle-panel {
        width: 100%;
        height: 30%;
    }

    .toggle-panel.toggle-left {
        top: 0;
    }

    .container.active .toggle-panel.toggle-left {
        left: 0;
        top: -30%;
    }

    .toggle-panel.toggle-right {
        right: 0;
        bottom: -30%;
    }

    .container.active .toggle-panel.toggle-right {
        bottom: 0;
    }

    input {
        height: 75px;
        font-size: 20px;
    }

    button {
        height: 70px !important;
        font-size: 20px !important;
    }

    .btn.n {
        margin-top: 70px;
    }

    #termos {
        grid-template-columns: 1fr 15fr;
    }

    #txtt {
        font-size: 20px;
    }

    #termoscbx {
        width: 25px;
        height: 25px;
        margin-left: 40px;
    }

    #link {
        font-size: 20px;
    }

    #codeEtec {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .btn.n {
        margin-top: 0;
    }

    input {
        height: 50px;
        font-size: 20px;
    }

    .container h1 {
        font-size: 28px;
    }

    button {
        height: 50px !important;
        font-size: 16px !important;
    }

    #txtt {
        font-size: 12px;
    }

    #termoscbx {
        width: 15px;
        height: 15px;
        margin-left: 0;
    }

    #etecrm {
        grid-template-columns: 1fr;
        gap: .5rem;
    }

    #termos {
        margin-bottom: 5px;
    }

    .input-box {
        margin: .5rem 0;
    }

    #pwI,
    #codeEtecLogin {
        margin-bottom: .5rem;
    }

    #subt {
        margin: 0 0 10px;
    }
}