<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/feedback/database_feedbacks.css')}}">
    <title>BD Feedbackss</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th id="th_id">ID</th>
                <th id="th_nome">NOME</th>
                <th id="th_email">EMAIL</th>
                <th id="th_tipo">TIPO</th>
                <th id="th_feedback">FEEDBACK</th>
                <th id="th_data">DATA</th>
                <th id="th_acoes">AÇÕES</th>
            </tr>
        </thead>
        {% for feedback in feedbacks %}
        <tr>
            <td id="td_id">{{feedback.id_feedback}}</td>
            <td id="td_nome">{{feedback.nome_feedback}}</td>
            <td id="td_email">{{feedback.email_feedback}}</td>
            <td id="td_tipo">{{feedback.tipo_feedback}}</td>
            <td id="td_feedback">{{feedback.texto_feedback}}</td>
            <td id="td_data">{{feedback.data_feedback.strftime("%d-%m-%Y %H:%M:%S")}}</td>
            <td id="td_acoes">
                <a href="database_feedbacks/excluir_feedback/{{feedback.id_feedback}}" class="excluir">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>