{% extends 'shared/base.html' %}

{% block title %}Contate-nos{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/shared/header_relative.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/feedback/feedback-style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/feedback/feedback-escuro.css')}}">
{% endblock %}

{% block content %}
<main>
    <h1>Tem alguma dúvida ou reclamação? Contate-nos.</h1>

    <form action="{{url_for('feedback.enviar_feedback')}}" method="POST" id="form-feedback">
        <div id="identificacao">
            <label for="nome_feedback">Nome:</label>
            <input type="text" name="nome_feedback" id="nome_feedback" class="disabled-inpt"
                placeholder="Digite seu nome..." maxlength="70" readonly>

            <label for="nome_feedback">Email:</label>
            <input type="email" name="email_feedback" id="email_feedback" class="disabled-inpt"
                placeholder="{{ user_logado.aluno.email_aluno }}" maxlength="70" readonly>
        </div>

        <div id="feedback">
            <label for="assunto_feedback">Assunto</label>
            <div id="assunto_tipo_wrapper">
                <input type="text" name="assunto_feedback" id="assunto_feedback"
                    placeholder="Por que você está nos contatando?" maxlength="70">
                <select name="tipo_feedback" id="tipo_feedback">
                    <option value="duvida">Dúvida</option>
                    <option value="reclamacao">Reclamação</option>
                    <option value="sugestao">Sugestão</option>
                    <option value="elogio">Elogio</option>
                </select>
            </div>


            <label for="texto_feedback">O que você quer nos informar?</label>
            <div id="textarea_wrapper">
                <textarea name="texto_feedback" id="texto_feedback" maxlength="300"></textarea>
                <small id="contador">300</small>
            </div>
        </div>

        <div id="botoes">
            <button type="submit" id="enviar">Enviar</button>
            <button type="reset" id="cancelar">Cancelar</button>
        </div>
    </form>
</main>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('nome_feedback').value = '{% if user_logado.nivel_conta == 0 %} {{ user_logado.aluno.nome_aluno}} {% else %} Admin "{{ user_logado.rm_usuario }}" {% endif %}';
    document.getElementById('email_feedback').value = '{% if user_logado.nivel_conta == 0 %} {{ user_logado.aluno.email_aluno}} {% else %} -- {% endif %}';
    })
</script>
{% endblock %}

{% block extra_js %}
<script src="{{url_for('static', filename='js/feedback/feedback-script.js')}}"></script>
{% endblock %}