body.modo-escuro {
    background: #17041f;
    background: linear-gradient(135deg, #17041f 0%, #08031f 100%);
    color: #d0d0d0;
}

body.modo-escuro .card-produto {
    background: #211726;
    background: linear-gradient(135deg, #211726 0%, #1d183d 100%);
    box-shadow: 4px 4px 8px #20355a26;
}

body.modo-escuro .modal-content {
    background: #211726;
    background: linear-gradient(135deg, #211726 0%, #1d183d 100%);
}

body.modo-escuro .modal-content table * {
    background-color: transparent;
    color: #d0d0d0;
}

body.modo-escuro .marquee-text {
    color: #d0d0d0;
}

body.modo-escuro #aside-carrinho>div {
    background: #17041f;
    background: linear-gradient(135deg, #1e0629 0%, #0c052b 100%);
    color: #d0d0d0;
}

body.modo-escuro #carrinho>.card{
    background: #211726;
    background: linear-gradient(135deg, #211726 0%, #1d183d 100%);
}

body.modo-escuro #carrinho *{
    color: #d0d0d0;
}

body.modo-escuro #carrinho .card-subtitle {
    color: #d0d0d0bf !important;
}

body.modo-escuro .card-footer{
    background: #211726;
    background: linear-gradient(135deg, #211726 0%, #1d183d 100%);
    border-top: 1px solid #57a728ce !important;
}