body.modo-escuro {
    background: #17041f;
    background: linear-gradient(135deg, rgba(23, 4, 31, 1) 0%, rgba(8, 3, 31, 1) 100%);
    color: #d0d0d0;
}

body.modo-escuro .main-content {
    background: #211726;
    background: linear-gradient(135deg, rgba(33, 23, 38, 1) 0%, rgba(29, 24, 61, 1) 100%);
}

body.modo-escuro #conteudo-comprovantes .card,
body.modo-escuro #conteudo-stats .card,
body.modo-escuro #conteudo-stats .list-group-item,
body.modo-escuro #painel-notif {
    background: #211726;
    background: linear-gradient(135deg, #211726 0%, #1d183d 100%);
    box-shadow: 0px 0px 10px #15005075 !important;
    border: 1px solid #ffffff20;
    color: #d0d0d0;
}

body.modo-escuro #painel-notif li, body.modo-escuro #painel-notif #fechar-notif {
    color: #d0d0d0;
}

body.modo-escuro #filtro-periodo {
    background-color: #e1dbebd8 !important;
}

body.modo-escuro .perfil-inpt {
    background-color: #888;
}

body.modo-escuro .perfil-inpt::placeholder {
    color: #666;
}

body.modo-escuro #painel-notif {
    color: #333;
}

body.modo-escuro #edit-icon-perfil {
    filter: invert(100%);
}