/* ========== Reset Global ========== */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  overflow-x: hidden;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #eee;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p,
figcaption,
button,
a {
  font-size: 1rem;
}

/* ========== Seção de Capa / Imagem Inicial ========== */
.imagemCover {
  min-height: 50rem;
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0.9;
  /* Melhor usar valor decimal para opacity */
  background-image: url(/imagens/food1.jpg);
  background-size: cover;
  color: aliceblue;
  position: relative;
}

.imagemCover::after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.txtimgcover {
  z-index: 10;
  width: 70%;
}

#txt2 {
  font-size: clamp(0.9375rem, 0.1293rem + 2.5862vw, 1.875rem);
  text-align: justify;
}

#txt3 {
  color: #2e9a60;
  font-size: 2rem;
  text-align: center;
  font-family: 'Basetica', 'Roboto', 'Helvetica Neue', Arial, Verdana, sans-serif;
  padding: 10px;
  font-weight: 400;
  word-break: break-all;
  line-height: 6;
}

.txt4 {
  color: #2e9a60;

}

.txts {
  text-align: justify;
  color: aliceblue;
  font-size: clamp(1.875rem, 0.2586rem + 5.1724vw, 3.75rem);
}



/* ========== Blocos de Ícones e Textos ========== */
.listcard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5rem;
  white-space: space 3px;
}

.card-img-top {
  width: 30px;
  align-items: flex-end;
  margin: 1rem;
}

h4 {
  color: #2e9a60;
  margin: auto;
  align-items: flex-start;
  text-align: center;
  font-size: 18px;

}

.cardcap {
  display: block;
  border-radius: .8rem;
  width: 20rem;
  height: 20rem;
  align-items: flex-start;
  justify-content: center;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 8px 4px #0a001d1e;

}

.txtspequenoscard {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  padding: 0 30px;
  color: rgb(71, 71, 71);
  margin: auto;
}

.card-text {
  margin-bottom: 20px;
  margin-top: -3rem;
  padding: auto;
}

#time {
  padding-top: 30px;
  text-align: center;
}

.pessoas {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 40px 30px 75px 30px;
  margin: auto;
  width: fit-content;
}

.equipe {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.namefulano {
  text-align: center;
}

.sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #2e9a60;
  padding: 100px 0;


}

.cont_text {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.msg {
  width: 50%;
  color: #F4F4F6;
  font-family: "Lato", sans-serif;
}

.msgtitle {
  font-size: clamp(1.875rem, 1.0668rem + 2.5862vw, 2.8125rem);
}

.msgtxt {
  font-size: clamp(0.9375rem, 0.1293rem + 2.5862vw, 1.875rem);
}



/* RODAPÉ */
#rodape {
  background-color: #2e9a60;
  color: #fff;
  padding: 40px 20px;
  text-align: center;

}

.rodape-logo {
  width: 80px;
  margin-bottom: 20px;
}

.links-rodape {
  margin-top: 20px;
}

.links-rodape a {
  color: #fff;
  margin: 0 10px;
  font-size: 0.9rem;
  text-decoration: none;
}

.links-rodape a:hover {
  text-decoration: underline;
}

#img-icons {
  width: 100px;
  height: 80px;
}

@media (max-width: 800px) {
  .msg {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .pessoas {
    justify-content: center;
    padding: 40px 15px 75px 15px;
    gap: .7rem;
  }
}