<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/database-style.css' )}}">
    <title>Database</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>COD</th>
                <th>NOME</th>
                <th>EMAIL</th>
                <th class="hash">HASH SENHA</th>
                <th>CRIAÇÃO</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.id_usuario}}</td>
                <td>{{usuario.codigo_etec_usuario}}</td>
                <td>{{usuario.nome_usuario}}</td>
                <td>{{usuario.email_usuario}}</td>
                <td>{{usuario.hash_senha_usuario}}</td>
                <td>{{usuario.data_criacao_usuario.strftime("%d-%m-%Y %H:%M:%S")}}</td>
                <td>
                    <a href="/database/excluir_usuario/{{usuario.id_usuario}}" class="excluir">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>