* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #eee;
    overflow-y: scroll;
}

main {
    padding: 60px 30px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    border-radius: 15px;
    font-size: 1.3rem;
    background-color: #f8f8f8;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

label {
    display: block;
}

#filtro-wrapper {
    padding-right: 30px;
    border-right: 4px dotted #cfcdda;
}

#selecao-multipla-wrapper {
    padding-left: 30px;
}

#consulta-form select,
#consulta-form input:not(input[type='checkbox']) {
    background-color: #ebebeb;
    height: 40px;
    width: 100%;
    font-size: 1.3rem;
    padding-left: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 0 0 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    letter-spacing: normal;
}

#button-wrapper {
    margin: 20px 0;
}

#button-wrapper>button {
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-size: 1.3rem;
    outline: none;
    border-radius: 10px;
    letter-spacing: normal;
    box-shadow: 4px 4px 20px -5px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
    background-color: transparent;
}

#button-wrapper>button:hover {
    transition: .2s ease-out;
    font-weight: bolder;
    letter-spacing: 2px;
}

#excluir-varios,
#filtrar {
    background-color: #3ab340 !important;
    color: #eee;
    border: none;
}

#cancelar-selecao,
#limpar {
    border: 2px solid #c5453c;
    color: #c5453c;
    background-color: #eee;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

#toggle-excluir-varios:checked+.slider {
    background-color: #4CAF50;
}

#toggle-excluir-varios:checked+.slider:before {
    transform: translateX(26px);
}

#visualizacao-tabela {
    overflow: auto;
    max-height: 75vh;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, .2);
    border-radius: 15px 15px 0 0;
}

table {
    width: 100%;
    border-collapse: collapse !important;
    font-size: .9rem;
    border-radius: 15px 15px 0 0;
    overflow: auto;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #aa0404;
    z-index: 10;
}

table thead tr {
    background-color: #aa0404;
    color: #eee;
    text-align: left;
    font-weight: bold;
}

th:not(.col-checkbox),
td:not(.col-checkbox) {
    padding: 10px 15px;
    min-width: 100px;
    max-width: 500px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

th.col-checkbox,
td.col-checkbox {
    min-width: 40px;
    max-width: 40px;
    width: 40px;
}

td.col-checkbox {
    text-align: center;
}

td {
    border-bottom: 1px solid #ccc;
}

tr:nth-of-type(even) {
    background-color: #e6e6e6;
}

tr:last-of-type {
    border-bottom: 2px solid #aa0404;
}

tbody tr:hover {
    color: #aa0404;
}

tbody button {
    text-decoration: none;
    color: #0000ee;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

tbody button:visited {
    color: #0000ee;
}

tbody button:hover {
    color: red;
}

@media (max-width: 600px) {
    form {
        grid-template-columns: 1fr;
    }

    #filtro-wrapper {
        border-right: none;
        border-bottom: 2px dotted #cfcdda;
    }

    #selecao-multipla-wrapper {
        padding: 30px 0 0 0;
    }
}