{% extends 'shared/base.html' %}

{% block title %}Termos de uso{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info/politica-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/info/politica_termo-escuro.css') }}">
{% endblock %}

{% block content %}
<div class="cor" style="background-color: #f15d58; width: 100%; height:25vh;"></div>
<div class="principal-txt">
    <div id="main">
        <h1>Termos e condições de uso - CPS FoodPay</h1>
        <h4 id="fp">FoodPay</h4>
        <div>
            <p>
                Bem-vindo ao CPS FoodPay. Estes Termos e Condições de Uso regem o
                acesso e a utilização dos serviços oferecidos pela plataforma CPS FoodPay. Ao acessar ou utilizar a
                plataforma, você, na qualidade de
                usuário, concorda em cumprir e estar vinculado a estes Termos, bem como
                à nossa Política de Privacidade. Caso não concorde com qualquer parte destes Termos,
                você não deve utilizar a plataforma.
            </p>
        </div>

        <strong>
            <h2 class="h2-00">1. O serviço CPS FoodPay</h2>
        </strong>
        <strong>
            <h3>1.1. Objeto</h3>
        </strong>
        <p> O CPS FoodPay é um sistema digital que oferece aos alunos da ETEC
            Etec Eudécio Luiz Vicente a possibilidade de adquirir produtos da cantina escolar por meio de
            um sistema de crédito virtual. A plataforma atua como intermediadora entre o usuário
            e a cantina, facilitando o processo de pedido e pagamento online para a posterior
            retirada dos produtos.
        </p>

        <strong>
            <h3>1.2. Funcionamento</h3>
        </strong>
        <p>Para utilizar o serviço, o usuário deverá utilizar de formar de pagamento online, como cartão ou pix. Os
            pedidos são feitos de forma digital, e a retirada dos produtos é
            realizada na cantina da escola durante os períodos de intervalo, mediante a
            apresentação de um código de identificação.
        </p>

        <h2 class="h2-00">2. Cadastro e acesso</h2>
        <h3>2.1. Elegibilidade</h3>
        <p>
            A utilização da plataforma CPS FoodPay é restrita a alunos
            devidamente matriculados na ETEC [Nome da ETEC] com acesso válido ao sistema NSA.
        </p>

        <h3>2.2. Integração com o NSA.</h3>
        <p>Para se cadastrar, o usuário deverá utilizar seu Registro de
            Matrícula (RM), identificador único fornecido pelo sistema NSA
            (https://nsa.cps.sp.gov.br/). Ao realizar o cadastro, o usuário autoriza o acesso e a
            utilização de seus dados básicos, como nome completo e RM, para fins de
            identificação, validação e operação do serviço.</p>

        <h3>2.3. Veracidade das Informações.</h3>
        <p>O usuário é responsável por garantir que as
            informações fornecidas no cadastro são completas, precisas e atualizadas. O CPS
            FoodPay não se responsabiliza por dados incorretos que possam comprometer a
            funcionalidade do serviço, incluindo a identificação e a entrega dos pedidos.</p>

        <h3>2.4. Credenciais de Acesso.</h3>
        <p>O usuário é o único responsável pela guarda e
            confidencialidade de suas credenciais de acesso (login e senha). Qualquer atividade
            realizada na conta será considerada de sua responsabilidade, não cabendo ao CPS
            FoodPay qualquer ônus por uso indevido por terceiros.</p>

        <h2 class="h2-00">3. Pedidos e pagamentos</h2>
        <h3>3.2. Formas de Pagamento</h3>
        <p>As formas de pagamento para a conclusão do pedido são: cartão de crédito ou debito e pix.</p>

        <h3>3.3. Retirada do Pedido.</h3>
        <p>Após a confirmação do pagamento, um código de
            identificação será gerado. Para garantir a segurança e a precisão na entrega, o nome
            do usuário, RM e o código do pedido serão exibidos na interface administrativa da
            cantina. O usuário deverá apresentar o código na cantina para retirar seus produtos
            durante os períodos de recreio.</p>

        <h3>3.4. Cancelamento de Pedidos.</h3>
        <p>Após a confirmação, o pedido não poderá ser
            cancelado pelo usuário. Em casos de erros, o usuário deverá entrar em contato
            diretamente com a cantina.
        </p>

        <h2 class="h2-00">4. Avisos sobre alergias e informações nutricionais</h2>
        <h3>4.1. Âmbito de atuação</h3>
        <p>O CPS FoodPay atua exclusivamente como uma plataforma de pedidos e não
            se responsabiliza pela preparação, manuseio ou conteúdo dos alimentos.
        </p>

        <h3>4.2. Responsabilidades</h3>
        <p>O usuário é o único responsável por verificar os ingredientes e informações
            nutricionais dos produtos diretamente com a cantina, especialmente em casos de
            alergias ou restrições alimentares. A cantina escolar é a única responsável pela
            segurança e qualidade dos alimentos.
        </p>

        <h2 class="h2-00">5. Conduta do usuário e atividades proibidas</h2>
        <h3>5.1. Comprometimento</h3>
        <p>O usuário se compromete a utilizar a plataforma de maneira ética, lícita e em
            conformidade com estes Termos.</p>

        <h3>5.2. Proibições</h3>
        <p>É estritamente proibido ao usuário:</p>
        <ul class="ul-dados2">
            <li>Tentar acessar contas de outros usuários.</li>
            <li>Usar a plataforma para fins ilegais ou não autorizados.</li>
            <li>Tentar burlar a segurança do site de qualquer forma.</li>
            <li>Usar softwares, scripts ou bots para automatizar ações na plataforma.</li>
            <li>Realizar qualquer tipo de engenharia reversa, descompilação ou tentativa de
                obter o código-fonte da plataforma.</li>
        </ul>

        <h2 class="h2-00">6. Propiedade intelectual</h2>
        <h3>6.1. Direitos de propriedade</h3>
        <p>Todos os direitos de propriedade intelectual relativos à plataforma CPS FoodPay,
            incluindo, mas não se limitando a, software, design, logotipos, textos e outros
            materiais, são de propriedade exclusiva da equipe de desenvolvimento do projeto.
        </p>

        <h3>6.2. Cópia e distruibuição</h3>
        <p>É estritamente proibida a cópia, reprodução, distribuição, modificação ou
            qualquer uso não autorizado da plataforma ou de seus conteúdos, sem a prévia e
            expressa autorização dos desenvolvedores.
        </p>

        <h2 class="h2-00">7. Limitação de responsabilidade</h2>
        <h3>7.1. Exclusão de Responsabilidade</h3>
        <p>O CPS FoodPay é uma ferramenta para facilitar a
            compra na cantina, mas não se responsabiliza por:
        </p>
        <ul class="ul-dados2">
            <li>Atrasos, indisponibilidade de produtos ou quaisquer outras questões
                operacionais da cantina escolar.</li>
            <li>Perdas ou danos decorrentes do uso indevido da conta do Usuário, incluindo o
                compartilhamento de credenciais de acesso com terceiros.</li>
            <li>Falhas de conexão, equipamentos ou sistemas do Usuário que possam impedir
                o uso da plataforma.</li>
        </ul>

        <h3>7.2. Manutenção e Indisponibilidade</h3>
        <p>O CPS FoodPay poderá, a qualquer momento e
            sem aviso prévio, realizar manutenções, atualizações ou desativar temporariamente a
            plataforma para melhoria do serviço, sem que isso gere qualquer tipo de compensação
            ao Usuário.
        </p>

        <h2 class="h2-00">8. Disposições finais</h2>
        <h3>8.1. Alterações nos Termos</h3>
        <p>Estes Termos podem ser alterados a qualquer momento.
            A versão mais atualizada estará sempre disponível na plataforma. O uso contínuo do
            CPS FoodPay após a publicação de alterações constituirá sua aceitação dos novos
            Termos.
        </p>

        <h3>8.2. Encerramento da Conta</h3>
        <p>O CPS FoodPay se reserva o direito de suspender ou
            encerrar a conta de qualquer usuário que viole estes Termos, sem aviso prévio.
        </p>
    </div>
</div>
{% include 'shared/footer.html' %}
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/info/info-script.js') }}"></script>
{% endblock %}