body.modo-escuro {
    background: #17041f;
    background: linear-gradient(135deg, #17041f 0%, #08031f 100%);
    color: #d0d0d0;
}

body.modo-escuro .swiper-slide>.card {
    background: #211726;
    background: linear-gradient(135deg, #211726 0%, #1d183d 100%);
    box-shadow: 4px 4px 8px #20355a26;
    color: #d0d0d0;
}

body.modo-escuro #lista-ultimas-notificacoes .list-group-item,
body.modo-escuro #mais-vendidos-container .mais-vendidos-item,
body.modo-escuro #distribuicao-feedbacks-container .distribuicao-feedbacks-item {
    background: #211726;
    background: linear-gradient(175deg, #211726 0%, #1d183d 100%);
    box-shadow: 4px 4px 8px #20355a26;
    color: #d0d0d0;
    border: 1px solid #ffffff50;
}