body.modo-escuro {
    background: #17041f;
    background: linear-gradient(135deg, #17041f 0%, #08031f 100%);
    color: #d0d0d0;
}

body.modo-escuro .card {
    background: #211726;
    background: linear-gradient(135deg, #211726 0%, #1d183d 100%);
}

body.modo-escuro .card-body h6 {
    color: #d0d0d0 !important;
}

body.modo-escuro #icon-sair {
    filter: invert(100%);
}